In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
%matplotlib inline

In [2]:
df = pd.read_csv("heart.csv")
df.head(20)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63.0,1.0,3.0,145.0,233.0,1.0,0,150.0,0,2.3,0.0,0.0,1.0,1.0
1,37.0,1.0,2.0,130.0,250.0,0.0,1,187.0,0,3.5,0.0,0.0,2.0,1.0
2,NaN,NaN,1.0,130.0,204.0,0.0,0,172.0,0,1.4,2.0,0.0,2.0,1.0
3,56.0,1.0,1.0,120.0,236.0,0.0,1,178.0,0,0.8,2.0,0.0,2.0,1.0
4,57.0,0.0,0.0,NaN,354.0,0.0,1,163.0,1,0.6,2.0,0.0,2.0,1.0
5,57.0,1.0,0.0,140.0,192.0,0.0,1,148.0,0,0.4,1.0,NaN,1.0,1.0
6,56.0,0.0,NaN,140.0,294.0,0.0,0,153.0,0,1.3,1.0,0.0,2.0,1.0
7,44.0,1.0,1.0,120.0,263.0,0.0,1,173.0,0,0.0,2.0,0.0,3.0,1.0
8,52.0,1.0,2.0,172.0,NaN,1.0,1,NaN,0,0.5,NaN,0.0,3.0,1.0
9,57.0,1.0,2.0,150.0,168.0,0.0,1,174.0,0,1.6,2.0,0.0,2.0,1.0
10,54.0,1.0,0.0,140.0,239.0,0.0,1,160.0,0,NaN,2.0,0.0,2.0,NaN
11,48.0,NaN,2.0,130.0,275.0,0.0,1,139.0,0,0.2,2.0,0.0,2.0,1.0
12,49.0,1.0,1.0,130.0,266.0,0.0,1,171.0,0,0.6,2.0,0.0,NaN,1.0
13,64.0,1.0,3.0,110.0,211.0,0.0,0,144.0,1,1.8,1.0,0.0,2.0,1.0
14,58.0,0.0,3.0,150.0,283.0,1.0,0,162.0,0,1.0,2.0,0.0,2.0,1.0
15,50.0,0.0,2.0,120.0,219.0,0.0,1,158.0,0,1.6,1.0,0.0,2.0,1.0
16,58.0,0.0,2.0,NaN,340.0,0.0,1,172.0,0,0.0,2.0,0.0,2.0,1.0
17,66.0,0.0,3.0,150.0,226.0,0.0,1,114.0,0,2.6,0.0,0.0,2.0,NaN
18,43.0,1.0,0.0,150.0,247.0,0.0,1,171.0,0,1.5,NaN,0.0,2.0,1.0
19,69.0,NaN,3.0,140.0,239.0,0.0,1,NaN,0,1.8,2.0,2.0,2.0,1.0

In [3]:
print("The shape of the dataset is : ", df.shape)

The shape of the dataset is :  (303, 14)

In [4]:
df.describe()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
count,300.00000,299.000000,298.000000,294.000000,300.000000,302.000000,303.000000,294.000000,303.000000,300.000000,301.000000,301.000000,302.000000,289.000000
mean,54.38000,0.692308,0.966443,131.829932,246.660000,0.145695,0.528053,149.629252,0.326733,1.032000,1.395349,0.727575,2.314570,0.543253
std,9.08685,0.462312,1.034204,17.697255,51.898967,0.353386,0.525860,23.020438,0.469794,1.158728,0.616316,1.022515,0.613026,0.498990
min,29.00000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.75000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.250000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.00000,1.000000,1.000000,130.000000,241.500000,0.000000,1.000000,153.000000,0.000000,0.750000,1.000000,0.000000,2.000000,1.000000
75%,61.00000,1.000000,2.000000,140.000000,275.000000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.00000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [5]:
df.isnull().sum().sort_values()

restecg      0
exng         0
fbs          1
thall        1
slp          2
caa          2
age          3
chol         3
oldpeak      3
sex          4
cp           5
trtbps       9
thalachh     9
output      14
dtype: int64

In [6]:
s_imputer = SimpleImputer(missing_values=np.nan,strategy='most_frequent')
s_imputer = s_imputer.fit(df)
df = s_imputer.transform(df)

C:\Users\Aidia\anaconda3\lib\site-packages\sklearn\impute\_base.py:49: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode = stats.mode(array)

In [7]:
df.shape

(303, 14)

In [8]:
data = pd.DataFrame(df)
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,63.0,1.0,3.0,145.0,233.0,1.0,0.0,150.0,0.0,2.3,0.0,0.0,1.0,1.0
1,37.0,1.0,2.0,130.0,250.0,0.0,1.0,187.0,0.0,3.5,0.0,0.0,2.0,1.0
2,58.0,1.0,1.0,130.0,204.0,0.0,0.0,172.0,0.0,1.4,2.0,0.0,2.0,1.0
3,56.0,1.0,1.0,120.0,236.0,0.0,1.0,178.0,0.0,0.8,2.0,0.0,2.0,1.0
4,57.0,0.0,0.0,130.0,354.0,0.0,1.0,163.0,1.0,0.6,2.0,0.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57.0,0.0,0.0,140.0,241.0,0.0,1.0,123.0,1.0,0.2,1.0,0.0,3.0,0.0
299,45.0,1.0,3.0,110.0,264.0,0.0,1.0,132.0,0.0,1.2,1.0,0.0,3.0,1.0
300,68.0,1.0,0.0,144.0,193.0,1.0,1.0,141.0,0.0,0.0,1.0,2.0,3.0,0.0
301,57.0,1.0,0.0,130.0,131.0,0.0,1.0,115.0,1.0,1.2,1.0,1.0,3.0,0.0
302,57.0,0.0,1.0,130.0,236.0,0.0,0.0,174.0,0.0,0.0,1.0,1.0,2.0,0.0

In [9]:
data.isnull().sum().sort_values()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
dtype: int64

In [10]:
from sklearn.model_selection import train_test_split

x = data.iloc[: , :13]
y = data.iloc[: , -1]
x_train, x_test , y_train , y_test = train_test_split(x, y , test_size= .2 , random_state=42)

In [11]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

logisticRegModel = LogisticRegression(max_iter=2000)
logisticRegModel.fit(x_train , y_train)
y_predict = logisticRegModel.predict(x_test)
accuracy1 = accuracy_score(y_test , y_predict)

print('The accuracy score of the Logistic Model is ',accuracy1)

The accuracy score of the Logistic Model is  0.8360655737704918

In [12]:
from sklearn.svm import SVC

SVCModel = SVC(kernel='linear')
SVCModel.fit(x_train, y_train)
y_predict = SVCModel.predict(x_test)
accuracy2  = accuracy_score(y_test, y_predict)
print('The accuracy score of the SVC Model is ', accuracy2)

The accuracy score of the SVC Model is  0.819672131147541

In [13]:
from sklearn.neural_network import MLPClassifier

NNModel = MLPClassifier(hidden_layer_sizes=(100,), activation='relu', solver='adam', max_iter=1000)
NNModel.fit(x_train , y_train)
y_predict = NNModel.predict(x_test)
accuracy3 = accuracy_score(y_test, y_predict)
print('The accuracy score of the Logistic Model is ',accuracy3)

The accuracy score of the Logistic Model is  0.819672131147541